footer.footer.j-footer
	.footer-wrapper
		.footer__text
			ul.footer-list.j-form-button
				li Suffered from a car accident?
				li.line-block
				li Find  out how we can help
			include ../blocks/_popup.jade
		ul.footer__socials
			li.socials__item
				a(href='https://www.facebook.com/FrankWalkerLaw/').socials__link
					+icon("fb",23,23)
			li.socials__item
				a(href='https://twitter.com/frankwalkerlaw').socials__link
					+icon("tw",23,23)
			li.socials__item
				a(href='https://plus.google.com/+Frankwalkerlaw').socials__link
					+icon("google",23,23)