.popup.j-popup
	.popup__title Contact us today
	.popup__subtitle Request your free, confidential analysis
	form.contact-form.popup-form
		input(type-'text' placeholder='Name')
		input(type-'text' placeholder='Your E-mail')
		input(type-'text' placeholder='Subject')
		textarea(placeholder='Your Message')
		button.form-button Send my info